<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/root.css">
  <link rel="stylesheet" href="/public/css/flash-message/style.css">
  <link rel="stylesheet" href="/public/css/hanna/user-new-password.css">
  <script src="/public/js/flash-message.js"></script> 
  <script src="/public/js/on-key-press.js"></script> 
  <title>Confirme sua senha na plataforma Hanna</title>
</head>
<body>
  <div class="box-grid">
    <div class="left-box-column"></div>
      <div class="center-box">
        <p class="fs-text text-subdued mb8">Olá <span class="color-secondary">{{name}}</span>,</p>
        <p class="fs-text text-subdued mb32">
          Insira sua nova senha:
        </p>
        <div class="new-pass-box">
            <input type="hidden" name="new-password-endpoint" id="new-password-endpoint" value="{{ newPasswordEndpoint }}">
            <input type="hidden" name="resend-token-endpoint" id="resend-token-endpoint" value="{{ resendTokenEndpoint }}">
            <input type="hidden" name="success-endpoint" id="success-endpoint" value="{{ successEndpoint }}">
            <input type="hidden" name="user-name" id="user-name" value="{{ name }}">
            <div class="logo">{{companyName}}</div>
              <form class="login-form" id="password-form">
                  <label for="password" class="text-subdued bold">Senha:</label>
                  <input type="password" id="password" name="password" onkeypress="handleKeyPress(event, 13, submitForm)" required>
                  <label for="confirm-password" class="text-subdued bold">Confirmação de Senha:</label>
                  <input type="password" id="confirm-password" name="confirm-password" onkeypress="handleKeyPress(event, 13, submitForm)" required>
                  <p class="text-subdued tex-center bold mb32">
                    Lembre-se de escolher uma senha forte, combinando letras, números e caracteres especiais, para garantir a máxima
                    segurança. 
                    {{!-- Se tiver alguma dúvida ou precisar de ajuda, nossa equipe de suporte está à disposição para guiá-lo(a)
                    a cada passo. --}}
                  </p>
                  <button type="button" onclick="submitForm()">Enviar</button>
              </form>
            </div>
      </div>
    <div class="right-box-column"></div>
  </div>
  <script>
    function submitForm() {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm-password').value;

        if (!password) {
          showFlashMessage({ content: 'Insira a senha.'})
          return;
        }

        if (!confirmPassword) {
          showFlashMessage({ content: 'Insira a confirmação de senha.'})
          return;
        }

        if (password !== confirmPassword) {
          showFlashMessage({ content: 'Senhas não coincidem. Por favor, insira senhas iguais.'})
          return;
        }

        const jsonData = JSON.stringify({
            password,
            confirmPassword
        })

        const newPasswordEndpoint = document.getElementById('new-password-endpoint').value;
        const successEndpoint = document.getElementById('success-endpoint').value;

        const xhr = new XMLHttpRequest();
        xhr.open('POST', newPasswordEndpoint, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('Accept', 'application/json');
        xhr.onload = function () {
            if (xhr.status === 200) {
                const responseData = JSON.parse(xhr.responseText);
                const userName = document.getElementById('user-name').value;
                window.location.replace(`${successEndpoint}?userName=${encodeURIComponent(userName)}`)
            } 
            else if (xhr.status === 400 || xhr.status === 401) {
                const responseData = JSON.parse(xhr.responseText);
                showFlashMessage({ content: responseData.error?.message || responseData.error, delay: 6000 })
            }
            else if (xhr.status === 403) {
                const resendTokenEndpoint = document.getElementById('resend-token-endpoint').value;
                window.location.replace(resendTokenEndpoint)
            }
            else {
                showFlashMessage({ content: 'Houve algum erro. Tente novamente!' })
            }
        };
        xhr.onerror = function () {
            showFlashMessage({ content: 'Houve algum erro. Tente novamente!' })
        };
        xhr.send(jsonData);
      }
  </script>
</body>
</html>
